<%= yield %>
<% content_for :who_won do %>
  <h2 class="win-or-tie"><%= @game_state[:opponent]%> won!</h2>
  <ul>
    <li><a href="/game/settings">New Game</a></li>
    <li><a href="/users/signout">Sign Out</a></li>
  </ul>
<% end %>
