<% if session[:username] %>
  <h2>Hi there, <%= session[:username] %>! Welcome to Tic Tac Toe!</h2>
<% else %>
  <h2>Please sign up or sign in to play Tic Tac Toe.</h2>
<% end %>
<% if session[:username] %>
  <ul>
    <li><a href="/game/settings">New Game</a></li>
    <li><a href="/users/signout">Sign Out</a></li>
    <li><a href="/users/scoreboard">View Scoreboard</a></li>
  </ul>
<% else %>
  <ul>
    <li><a href="/users/signin">Sign In</a></li>
    <li><a href="/users/signup">Sign Up</a></li>
    <li><a href="/users/scoreboard">View Scoreboard</a></li>
  </ul>
<% end %>
