<%= yield %>
<% content_for :who_won do %>
  <h2 class="win-or-tie">You won!</h2>
  <ul>
    <li><a href="/game">New Game</a></li>
    <li><a href="/users/signout">Sign Out</a></li>
  </ul>
<% end %>
