<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/ttt.css">
    <script src="/javascripts/jquery/jquery-3.7.1.js"></script>
    <script src="/javascripts/application.js"></script>
    <title>Tic Tac Toe</title>
  </head>
  <body>
    <h1>Tic Tac Toe</h1>
    <%= yield %>
    <%= yield_content :who_won %>
    <a href='/'>New Game</a>
  </body>
</html>
