<table>
  <tbody>
    <% @game_state[:board_state].each_slice(3).with_index do |row, r_index| %>
      <tr>
        <% (0..2).each do |c_index| %>
          <td>
            <a href="/game/<%= (r_index * 3) + c_index + 1 %>" class="square">
              <%= visible_space(row[c_index]) %>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
