html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 50%;
    margin: 2.5rem auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.square {
    display: block;
    padding: 2.5rem;
    text-decoration: none;
    color: black;
}

h2 {
    width: 100%;
    text-align: center;
}
