html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

.message {
    font-weight: normal;
    color: #000;
    background-color: #fffd96;
    padding: 0.75rem;
}

h1 {
    width: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

fieldset {
    max-width: 50%;
}

.input-wrapper {
    display: flex;
}

label {
    margin: 1rem 0 1rem 1rem;
    flex-grow: 1;
    padding: 4px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #06c;
    border-radius: 4px;
    font: normal 1rem Helvetica, Arial, sans-serif;
    margin: 1rem 1rem 1rem 0;
    flex-grow: 7;
    padding: 4px;
}

.ttt-board {
    table-layout: fixed;
    width: 50%;
    margin: 2.5rem auto;
    border-collapse: collapse;
}

.ttt-board td {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
}

.square {
    display: block;
    padding: 2.5rem;
    text-decoration: none;
    color: #000;
}

div.square:hover {
    cursor: pointer;
}

.top {
    border-bottom: 1px solid #000;
}

.left {
    border-right: 1px solid #000;
}

.right {
    border-left: 1px solid #000;
}

.bottom {
    border-top: 1px solid #000;
}

.win-or-tie {
    width: 100%;
    text-align: center;
}

.scoreboard {
    border-collapse: collapse;
}

.scoreboard th,
.scoreboard td {
    border: 1px solid black;
    padding: 1rem;
}

.scoreboard th[scope="col"] {
    color: blueviolet;
}

.scoreboard th[scope="row"] {
    color: dodgerblue;
}
